.slick .bg .rad_5 {
    animation: radial-pulse 1s infinite;
}

.main .nav .scroll_down button {
    animation: radial-pulse 1s infinite;
}

.slick .bg .wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    width: 450px;
    height: 450px;
    border-radius: 50%;
}

@keyframes radial-pulse {
    0% {
        box-shadow: 0 0 0 0 rgb(255, 255, 255);
    }

    100% {
        box-shadow: 0 0 0 30px rgba(0, 0, 0, 0);
    }
}

.slick .bg .rad .anim-rad:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}

.main .anim-nav {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}

.main .anim_menu {
    position: absolute;
    background-color: #FAFAFA;
    opacity: 0.9;
    border-radius: 5px;
    max-width: 1270px;
    top: 50px;
}

.main .anim_menu ul {
    width: 190px;
    height: 305px;
    border-radius: 15px;
    list-style: none;
    text-align: right;
    margin: 15px 0 15px 55px;
    display: none;
    padding-right: 20px;
}

.main .anim_menu ul li {
    margin: 0 40px 20px 0;
}

.main .anim_menu ul a {
    text-decoration: none;
    background: #FAFAFA;
    color: #2F1946;
    font-family: 'Dosis', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    text-transform: uppercase;
    text-align: right;
    display: block;
    min-width: 150px;
}

.main .anim_menu ul a:hover {
    color: #D43737;
}

