.centre {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 30px;
}

.centre .welcome {
    display: flex;
    align-items: center;
    margin-top: 70px;
    margin-bottom: 30px;
}

.centre .welcome img {
    width: 57px;
    height: 59px;
    margin-right: 10px;
}

.centre .welcome p {
    font-family: 'Dosis', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 52px;
    text-decoration: none;
    text-transform: uppercase;
    margin-left: 10px;
}

.centre .text p {
    font-family: 'Dosis', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    text-decoration: none;
    text-transform: none;
    max-width: 785px;
}

.centre .author p {
    font-family: 'Dosis', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    text-align: right;
    text-decoration: none;
    text-transform: none;
    width: 785px;
    color: #FE4A5D;
}