.content {
    margin-bottom: 90px;
}

.content .flex {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.content .flex .photo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 30px 0 30px;
}

.content .flex .photo .column {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.content .flex .photo .column .img-photo {
    max-width: 320px;
    height: auto;
    margin: 10px;
    opacity: 0.7;
}

.content .gradient {
    padding: 12px;
    background: rgb(255,44,44);
    background: linear-gradient(90deg, rgba(255,44,44,1) 0%, rgba(255,236,57,1) 49%);
}
.content .sign_up {
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 70px;
}

.content .sign_up .text_sign_up {
    font-family: 'Dosis', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 38px;
    text-decoration: none;
    text-transform: uppercase;
    margin-bottom: 20px;
    width: 345px;
}

.content .sign_up .or {
    display: flex;
    align-items: center;
    text-align: center;
}

.content .sign_up .or p {
    font-family: 'Dosis', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    text-decoration: none;
    text-transform: uppercase;
    color: #9B9B9B;
    margin: 10px 15px 10px 15px;
}

.content .sign_up .or hr {
    border: none;
    background-color: #D3D3D3;
    height: 2px;
    width: 144px;
}

.content .sign_up .started_fb {
    border-radius: 5px;
    font-family: 'Dosis', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #FFFFFF;
    text-decoration: none;
    text-transform: uppercase;
    width: 342px;
    text-align: center;
    height: 41px;
    background-color: #2F53A3;
    border: none;
    user-select: none;
    outline: none;
}

.content .sign_up .started_fb:hover {
    background: #4270d4;
    cursor: pointer;
}

.content .sign_up .started_fb:active {
    background: #1f4eb1;
}

.content .sign_up .block_sign_up input {
    border-radius: 5px;
    font-family: 'Dosis', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #000000;
    text-decoration: none;
    width: 317px;
    height: 41px;
    border: 2px solid #CACACA;
    user-select: none;
    outline: none;
    padding: 0 10px;
    margin-bottom: 10px;
}

.content .sign_up .started_go {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    font-family: 'Dosis', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #FFFFFF;
    text-decoration: none;
    text-transform: uppercase;
    width: 342px;
    text-align: center;
    height: 41px;
    background-color: #81398B;
    border: none;
    user-select: none;
    outline: none;
}

.content .sign_up .started_go:hover {
    background: #af4dbb;
    cursor: pointer;
}

.content .sign_up .started_go:active {
    background: #9739a7;
}