.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.footer .subscribe {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 30px;
    margin-bottom: 30px;
}

.footer .subscribe p {
    font-family: 'Dosis', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    text-decoration: none;
    text-transform: none;
    width: 184px;
    margin-right: 10px;
    color: #00CFAE;
}

.footer .subscribe button {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    font-family: 'Dosis', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #FFFFFF;
    text-decoration: none;
    text-transform: uppercase;
    width: 135px;
    height: 40px;
    background-color: #00CFAE;
    border: none;
    user-select: none;
    outline: none;
}

.footer .subscribe button:hover {
    background: #5eeadd;
    cursor: pointer;
}

.footer .subscribe button:active {
    background: #05b197;
}

.footer .subscribe input {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    font-family: 'Dosis', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #000000;
    text-decoration: none;
    width: 260px;
    height: 38px;
    border: 1px solid #CACACA;
    user-select: none;
    outline: none;
    padding: 0 10px;
}

.footer .main_navigation {
    width: 100%;
    min-height: 90px;
    max-height: 270px;
}

.footer ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    list-style: none;
    background: #FAFAFA;
}

.footer ul a {
    text-decoration: none;
    background: #FAFAFA;
    margin: 0 30px 0 30px;
    color: #2F1946;
    font-family: 'Dosis', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    text-transform: uppercase;
    line-height: 80px;
}

.footer ul a:hover {
    color: #D43737;
}

.footer .flags {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
}

.footer .flags img {
    width: 16px;
    height: 11px;
    margin: 10px 5px 20px 5px;
}

.footer hr {
    border: none;
    background-color: #D3D3D3;
    height: 1px;
    max-width: 800px;
}

.footer .copy {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    text-decoration: none;
    text-transform: none;
    max-width: 644px;
    color: #2F1946;
    margin: 10px 0 15px 0;
}