* {
    margin: 0;
    padding: 0;
}

.top {
    margin: 0 auto;
    border: none;
    background-size: cover;
    background-image: url(img/background/background.png);
    background-repeat: no-repeat;
    background-position:center;
}

.top .main {
    max-width: 1270px;
    margin:0 auto;
}

.main .menu {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    margin-right: 20px;
    cursor: pointer;
}

.main .menu p {
    font-family: 'Dosis', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    text-decoration: none;
    text-transform: uppercase;
    margin-top: 20px;
}

.main .menu img {
    margin-left: 10px;
    width: 30px;
    height: 26px;
    margin-top: 20px;
}

.main .nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.main .nav .title img {
    max-width: 442px;
    max-height: 277px;
    margin-top: 50px;
    margin-bottom: 40px;
}

.main .nav .title p {
    font-family: 'Dosis', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 70px;
    color: #2F1946;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 40px;
}

.main .nav .scroll_down button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    font-family: 'Dosis', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: #FFFFFF;
    text-decoration: none;
    text-transform: capitalize;
    width: 163px;
    text-align: center;
    height: 50px;
    background-color: #81398B;
    border: none;
    margin-top: 20px;
    margin-bottom: 40px;
    user-select: none;
    outline: none;
}
.main .nav .scroll_down button img {
    margin-left: 10px;
}

.main .nav .scroll_down button:hover {
    background: #884f92;
}

.main .nav .scroll_down button:active {
    background: #b44ec4;
}

.main .nav .cards {
    margin-top: 50px;
    display: flex;
}

.main .nav .cards .block {
    display: flex;
    flex-direction: column;
    width: 235px;
    height: 235px;
    box-shadow: 0 0 1px;
}

.cards_button .one {
    background-color: #E44253;
}

.cards_button .two {
    margin: 0 40px 0 40px;
    background-color: #CB1C23;
}
.cards_button .three {
    background-color: #E56100;
}

.main .nav .cards .one {
    background-color: #FE4A5D;
}

.main .nav .cards .two {
    margin: 0 40px 0 40px;
    background-color: #E22028;
}

.main .nav .cards .three {
    background-color: #FF6C00;
}

.main .nav .cards .block .img-cards {
    width: 114px;
    height: 114px;
    margin: 60px;
}

.cards_button {
    max-width: 1270px;
    margin:0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.cards_button .block {
    width: 235px;
    height: 111px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cards_button .block a {
    font-family: 'Dosis', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    color: #FFFFFF;
    text-decoration: none;
    text-transform: capitalize;
    width: 235px;
}

.cards_button .block a:hover {
    color: #E3C4E8;
    cursor: pointer;
}

