@media (min-width: 440px) and (max-width: 800px) {
    .main .nav .cards .block {
        display: none;
    }

    .cards_button {
        display: flex;
        flex-direction: column;
    }

    .centre .author p {
        width: auto;
    }

    .content .flex .photo {
        display: none;
    }

    .slick .bg {
        height: 440px;
    }

    .slick .bg .rad {
        display: none;
    }

    .footer .subscribe p {
        display: none;
    }

    .footer .flags {
        width: 400px;
    }
}




