.social_link .sticky_social {
    top: 40%;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    position: fixed;
    width: 50px;
    height: 195px;
    background-color: #45124C;
    display: flex;
    flex-direction: column;
    z-index: 1;
}

.social_link .sticky_social a {
    margin: 13px;
    max-width: 24px;
    max-height: 24px;
}
